:root{
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24,39,51,0.85);
  --menu-speed: 0.75s;
}

*{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  
}

.content-area{
  max-width: 60%;
  margin: auto;
}

/* Top Nav */

.top-nav{
  background-color: whitesmoke;
}

.top-nav img{
  width: 210px;
  padding: 1.3rem 0; 
}

.top-nav .info{
  padding: 1.3rem 0;
  
}

.top-nav p{
  margin: 0;
  text-align: right;
  padding: .1rem 0rem;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
}

/* Showcase Area */
.showcase{
  background-color: var(--primary-color);
  color: #fff;
  height: 70vh;
  position: relative;
}

/* Media Queries to Adjust */

.showcase img{
  position: absolute;
  top: 0;
  left: 45%;
  width: 200px;
} 

/* Media Queries to Adjust End */

.showcase:before{
  content:'';
  background: url('../img/drop-of-water-ripple-water-71549.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  z-index: -1;
}

/* Media Queries to Adjust */

.showcase .showcase-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

 .showcase h1{
   padding-top: 1.5rem;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.showcase p{
  font-size: 1.6rem;
  padding-bottom: 1rem;
  width: 80%;
} 

.btn{
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  border-radius: 3px;
  text-decoration: none;
  transition: all .7s ease-in;
}

.btn:hover{
  color: rgb(199, 199, 199);
  background-color: rgb(13,110,139);
}

/* Social Media Section */
.social-media{
  height: 80px;
  background-color: #dedede;
  border-bottom: 3px solid var(--primary-color);
}


.social-media p{
  position: absolute;
  top: 88%; 
  left: 57%;
  font-size: 16px;
}

.social-media ul{
  margin-left: 84%;
  padding-top: 1%;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
}

.social-media ul li{
  list-style: none;
}

.social-media ul li a{
  width: 45px;
  height: 45px;
  display: block;
  text-decoration: none;
  background: #f1f1f1;
  text-align: center;
  font-size: 20px;
  margin: 5px 10px;
  padding: 6px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #dedede, #fff);
  transition: all .5s ease;
}

.social-media ul li a:hover{
  font-weight: bold;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
}

.social-media ul li a .fab{
  width: 100%;
  height: 100%;
  /* display: block; */
  background: linear-gradient(0deg, #fff, #dedede);
  border-radius: 50%;
  background-color: #dedede;
  padding-top: 8px;
  
}

.social-media ul li:nth-child(1) a:hover .fab{
  color: #3b5998 !important; 
}

.social-media ul li:nth-child(2) a:hover .fab{
  color: #1da1f2 !important; 
}

.social-media ul li:nth-child(3) a:hover .fab{
  color: #e4405f !important; 
}

/* Accordian */

.accordion-wrapper{
  max-width: 900px;
  margin: 50px auto;
  border-bottom: 2px solid whitesmoke;
}

.accordion-wrapper h2{
  margin-bottom: 70px;
  text-align: center;
}

button.accordion{
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  color: #3f494c;
  cursor: pointer;
  transition: background-color 0.5s linear;
}

.accordion-panel{
  padding: 0rem 1rem;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s linear;
}

.accordion-panel p{
  padding: 0.5rem 0;
  margin: 0;
}

button.accordion::after{
  content: '\002b';
  font-size: 25px;
  float: right;
}

button.accordion.is-open::after{
  content: '\2212';
}

button.accordion:hover{
  background-color: var(--primary-color);
  color: #fff;
}

  /* Images Section */
  .images{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .images img{
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    border: 3px solid var(--primary-color);  
    margin-bottom: 2rem;
  }

  /* About Section */
  .about p{
    text-align: justify;
  }

  .about h4{
    color: #636363;
    font-size: 2rem;
    font-weight: 300;
    padding: 3.5rem 0;
    text-align: center;
  }

  .about img{
    width: 160px;
    padding-top: 1.8rem;
    margin-left: 42%;
  }

  .about .title-border{
    content: "";
  width: 80%;
  height: 2px;
  display: block;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: auto;
  margin-top: 1.8%;
  }

  .images p{
    text-align: center;
    padding: 0.5rem;
  }

  .images span{
    content: "";
  width: 80%;
  height: 2px;
  display: block;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 3% auto;
  }


  .bio{
    margin-top: 3rem;
  }

  .bio p{
    text-align: justify;
    padding-left: 25px;
    font-size: 1rem;
  }

  .bio h4{
    color: #636363;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    padding-top: 2.5rem;
  }

  .img img{
    width: 150px;
    box-sizing: unset;
  }

/* Services Section */
.content-4 .nav{
  justify-content: center;
  margin: 6%;
}

.content-4 .nav-tabs{
  margin: 12px;
  text-align: center;
  cursor: pointer;
  background-color: #edf2f4;
}

.content-4 .tab-item{
  text-decoration: none;
}

.content-4 span{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  justify-content: center;
  color: #3f494c !important;
  padding: 0.5rem 1rem;
}

.content-4 .tab-item span:hover{
  color: var(--primary-color) !important;
}

  /* Contact-Section */
  .contact h1{
    text-align: center;
    padding-bottom: 50px;
    color: grey;
  }

  .contact img{
    width: 140px;
    padding-top: 1.8rem;
    margin-left: 45%;
  }

  .contact h4{
    font-size: 1.5rem;
    text-align: center;
    margin: 2.5rem 0;
    padding: 0 2.5rem;
    color: grey;
  }
  
  .formBox{
      padding: 20px;
      border: 1px solid #dedede;
      border-radius: 3px;
      margin: 0 auto;
      margin-bottom: 35px;
      width: 80%;
      height: 80%;
  }
  span{
      color: red;
  }
  
  h1{
      margin-top: 40px;
      padding: 0;
      text-align: center;
      margin-bottom: 30px !important;
      font-size: 48px;
      font-weight: bold;
  }
  
  .inputBox{
      position: relative;
      box-sizing: border-box;
      margin-bottom: 40px;
  }
  
  .input{
      position: relative;
      width: 100%;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 18px;
      border-bottom: 2px solid rgba(0,0,0,0.3);
  }
  
  .inputText{
      position: absolute;
      line-height: 40px;
      font-size: 14px;
      transition: .5s;
      opacity: .5;
  }
  
  .focus .inputText{
      transform: translateY(-30px);
      font-size: 14px;
      opacity: 1;
      color: var(--primary-color);
  }
  
  textarea{
      height: 90px !important;
  }
  
  .button{
      width: 100%;
      background: var(--primary-color);
      color: #fff;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      outline: none;
      height: 50px;
      font-size: 24px;
  }
/* Footer Section */

footer{
  height: 230px;
  background: var(--overlay-color);
}

.img img{
  width: 250px;
  margin-top: 50px;
}

footer ul{
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

footer ul li{
  margin: 2% 0 0 10%;
  list-style: square;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 0.4rem;
}

footer ul li a{
 color: #fff;
 font-size: 1rem;
 padding-bottom: 0.5rem;
}

footer ul li a:hover{
  text-decoration: none;
  color: #b8b6b6;
}

  .outer-footer{
    text-align: center;
    padding: 0.7rem;
    margin-top: 15px;
  }

  

/* Media Queries */
@media  (max-width: 774px){

  footer{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}















